{% extends 'base.html.twig' %}

{% block title %}Livre index
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Livres</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Editeur</th>
                    <th>DateParution</th>
                    <th>Disponibilite</th>
                    <th>Iban</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for livre in livres %}
                    <tr>
                        <td>{{ livre.id }}</td>
                        <td>{{ livre.titre }}</td>
                        <td>{{ livre.auteur }}</td>
                        <td>{{ livre.editeur }}</td>
                        <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
                        <td>{{ livre.disponibilite ? 'Yes' : 'No' }}</td>
                        <td>{{ livre.iban }}</td>
                        <td>
                            <a href="{{ path('livre_show', { 'id': livre.id }) }}" class="btn btn-primary">show</a>
                            {% if app.user.roles[0] != 'ROLE_USER' %}
                                <a href="{{ path('livre_edit', { 'id': livre.id }) }}" class="btn btn-primary">edit</a>
                            {% endif %}


                            {% set emp = false %}
                            <a href="{{ path('emprunt', { 'id': livre.id }) }}">

                                {% if livre.disponibilite == 1 %}
                                    {% for user in livre.users %}

                                        {% for user1 in user %}
                                            {% if user1.id == app.user.id %}
                                                retourner
                                                {% set emp = true %}
                                            {% endif %}
                                        {% endfor %}

                                    {% endfor %}

                                    {% if emp == false %}
                                        emprunter
                                    {% endif %}
                                {% endif %}

                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('livre_new') }}" class="btn btn-primary">Ajouter</a>
    </div>
{% endblock %}
