{% extends 'base.html.twig' %}

{% block title %}Livre
{% endblock %}

{% block body %}
<div class="container-fluid" >
    <h1>Livre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ livre.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ livre.auteur }}</td>
            </tr>
            <tr>
                <th>Editeur</th>
                <td>{{ livre.editeur }}</td>
            </tr>
            <tr>
                <th>DateParution</th>
                <td>{{ livre.dateParution ? livre.dateParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Disponibilite</th>
                <td>{{ livre.disponibilite ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ livre.iban }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('livre_index') }}" class="btn btn-primary">back to list</a>
    {% if app.user.roles[0] != 'ROLE_USER' %}
        <a href="{{ path('livre_edit', {'id': livre.id}) }}">edit</a>

        {{ include('livre/_delete_form.html.twig') }}
    {% endif %}
</div>

{% endblock %}
